<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.infm.readit"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/title_activity_main"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReceiverActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:noHistory="true"
            android:label="@string/title_activity_receiver"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <provider
            android:name=".database.LastReadContentProvider"
            android:authorities="com.infm.readit.provider"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="0db4f67b016e755d7cc9ec045205dcab746e7c46" />

        <service
            android:name=".service.LastReadService"
            android:exported="false"/>
        <service
            android:name=".service.TextParserService"
            android:exported="false"/>

        <service
            android:name=".service.StorageCheckerService"
            android:exported="false"/>
    </application>

</manifest>
